/config/cache.php
/config/config_db*
/config/glpi.key
/config/glpicrypt.key
/config/local_define.php
/tests/config_db*
/tests/cache.php
/marketplace/oauthimap/vendor/
/marketplace/behaviors/vendor/
/marketplace/fields/vendor/
/marketplace/formcreator/vendor/
/marketplace/fussioninventory/vendor/
/marketplace/mreporting/vendor/
/marketplace/tag/vendor/
/marketplace/uninstall/vendor/
/plugins/*
!/plugins/.gitkeep
/files/*/*
!/files/*/.gitkeep
/.buildpath
/.project
/.settings/
/.vscode/
/.idea/
/tools/composer.lock
/tools/vendor/
/tools/api/
/tools/htmlcov/
/vendor/*
!/vendor/.htaccess
phpunit.xml
/tests/code-coverage/
/tests/coverage-*/
/tests/files/
/tests/.env
/tests/glpicrypt.key
/config/based_config.php
/config/config.php
/config/define.php
/nbproject
.composer.hash
/marketplace/**/*.min.css

/css/compiled/
/css/lib/
/**/*.min.js
/node_modules/
.package.hash
/public/build/
/public/lib/
/tests/web/error.log
/inventory-vendors/*.json
/locales/*.mo
